<ul class="nav nav-tabs" id="myTab" role="tablist">
   
    <li class="nav-item">
      <a class="nav-link active" id="settings-tab" data-toggle="tab" href="#settings" role="tab" aria-controls="settings"
        aria-selected="true">Display</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="zones-tab" data-toggle="tab" href="#zones" role="tab" aria-controls="zones"
        aria-selected="false">Clocks</a>
    </li>
    <li class="nav-item" *ngIf="showData">
        <a class="nav-link" id="data-tab" data-toggle="tab" href="#data" role="tab" aria-controls="data" aria-selected="false">Data ⚠️</a>
      </li>
  </ul>
