<div class="row ">
    <div class="col-12">
        <app-settings-theme></app-settings-theme>
    </div>
    <div class="col-6">
      <div class="form-group">
        <label for="inputBackgroundColor">Background Color</label>
        <input type="color" class="form-control   form-control-sm" id="inputBackgroundColor"
          [(ngModel)]="UiStyle.background" (change)="update()">
      </div>
      <div class="form-group">
        <label for="inputTextColor">Text Color</label>
        <input type="color" class="form-control   form-control-sm" id="inputTextColor"
          [(ngModel)]="UiStyle.foreground" (change)="update()">
      </div>
      <div class="form-group">
        <label for="inputTextColor">Active Hours Color</label>
        <input type="color" class="form-control form-control-sm" id="inputWorkdayColor"
          [(ngModel)]="UiStyle.workday" (change)="update()">
      </div>
    </div>
    <div class="col-6">
      <div class="form-group">
        <label for="inputTextColor">Margin Top</label>
        <input type="text" class="form-control form-control-sm" id="inputMarginTop"
          [(ngModel)]="UiStyle.marginTop" (change)="update()">
      </div>
      <div class="form-group">
        <label for="inputTextColor">Zoom</label>
        <input type="text" class="form-control form-control-sm" id="inputZoom" [(ngModel)]="UiStyle.zoom"
          (change)="update()">
      </div>

      <div class="form-group">
        <label for="inputTextColor">Active Hours</label>

        <div class="input-group"> <input type="number" class="form-control form-control-sm"
            id="inputWorkStart" [(ngModel)]="UiStyle.workStart" (change)="update()">

          <input type="number" class="form-control form-control-sm" id="inputWorkEnd"
            [(ngModel)]="UiStyle.workEnd" (change)="update()">
        </div>

      </div>
    </div>
  </div>